<div *ngFor="let question of quiz">
    {{question.title}}
    Options:
    <ul>
        <li>{{question.o1}} <input type="checkbox" [(ngModel)]="question.checked1"></li>
        <li>{{question.o2}} <input type="checkbox" [(ngModel)]="question.checked2"></li>
        <li>{{question.o3}} <input type="checkbox" [(ngModel)]="question.checked3"></li>
        <li>{{question.o4}} <input type="checkbox" [(ngModel)]="question.checked4"></li>
    </ul>
</div>
<button (click)="check()">Check results</button>